
@{
    Layout = "_Layout";
}
@model List<CurrentResult>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CurrentResult</title>
</head>
<body>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>
                            Вид услуги
                        </th>
                        <th>
                            Объем услуг
                        </th>
                        <th>
                            Стоимость
                        </th>
                    </tr>
                    @foreach (var m in Model)
                    {
                        <tr><td>@m.ServiceTypeName</td><td>@m.VolumeOfServices</td><td>@m.Cost</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
