@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка:</h1>
<h2 class="text-danger">@Model.ExceptionMessage</h2>

@using (Html.BeginForm("PutValues", "Calculation", HttpMethod.Get))
{
    <p><input type="submit" value="Продолжить" ></p>
}